/* CSS Document 

form#informe {
	
	width: 900px;
}
form label, form input {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    margin: 0 10px 0 0;
    padding: 3px 7px;
    position: relative;
    width: 180px;
}


#titulo{
    background-color: #d9d9d9;
	font-size: 20pt;
	margin: auto auto;
    margin-bottom: 20px;
	width: 850px;
}

#responsable, #inrespon, #entrega, #date1,#incor, #date2, #date3, 
#ha, #Actmes, #casos,#problemas, #inproblemas{
	display: inline-block;
    margin-top: 10px;
}

#inrespon{
    width: 250px;
}

#date1{
    width: 150px;
}

#date3{
    margin-right: 50px;
}

#responsable, #entrega, #incor{
    text-align: right;
}

#incor{
   margin-left: -10px;
   width: 155px;
}

#date2, #date3{
    width: 250px;
}

#ha{
    margin-right: 10px;
    text-align: center;
    width: 15px;
}

#fila1{
    text-align: center;
    width: 850px
}
#fila2{
    text-align: center;
    width: 200px
}
#col1,#col2,#col3,#col4,#col5{
    height: 40px;
    padding-top: 20 px;
    width: 150px;
}

#col5{
    padding-top: 0px;
}

#problemas{
    margin-left: -30px;
    text-align: right;
    width: 350px;
}

#inproblemas{
    width: 500px;
}

#cascol1,#cascol2, #cas01, #cas02{
    height: 20px;
    width: 350px;
}

#casos{
    margin: 10px auto;
}

#mejoras, #aportaciones, #text1{
    
    margin-top: 10px;
    text-align: left;
    width: 850px;
}

#text1{
    height: 80px;
    margin-left: -40px;
    width: 860px;
}

#rendimiento, #ren, #integracion, #int{
    display: inline-block;
}

#ren, #int{
    margin-right: 500px;
}

#rendimiento, #integracion{
    text-align: right;
    width: 250px;
}*/

/* Form */
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 350px;
  margin: 0 auto 100px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.form .thumbnail {
  background: #08088A;
  border: #08088A;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  padding: 50px 10px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 10px 3px #08088A;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #0B0B61;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
/*
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}*/
.info {
  margin: 10px auto;
  text-align: center;
}
.info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.info span {
  color: #4d4d4d;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #EF3B3A;
}

/* END Form */